


<section id="sidebar">
    <a href="#" class="brand">
        <i class="bi bi-cc-circle-fill"></i>
        <span class="text">COdingLaB</span>
    </a>

    <ul class="side-menu top">
        <li class="Active">
            <a href="#">
                <i class="bi bi-grid"></i>
                <span class="text">Dashboard</span>
            </a>
        </li>
        <li>
            <a href="#">
                <i class="bi bi-hr"></i>
                <span class="text">Product</span>
            </a>
        </li>

        <li class="">
            <a href="#">

                <i class="bi bi-list-task"></i>
                <span class="text">Order List</span>
            </a>
        </li>


        <li>
            <a href="#">

                <i class="bi bi-pie-chart"></i>
                <span class="text">Analytics</span>
            </a>
        </li>

        <li>
            <a href="#">
                <i class="bi bi-backpack4"></i>
                <span class="text">Total Order</span>
            </a>
        </li>


        <li>
            <a href="#">
                <i class="bi bi-person-add"></i>
                <span class="text">Team</span>
            </a>
        </li>


        <li>
            <a href="#">
                <i class="bi bi-chat-square-text"></i>
                <span class="text">Messages</span>
            </a>
        </li>


        <li>
            <a href="#">
                <i class="bi bi-clipboard-heart"></i>
                <span class="text">Favourite</span>
            </a>
        </li>
    </ul>
    <ul class="side-menu">
        <li>
            <a href="#">
                <i class="bi bi-gear-fill"></i>
                <span class="text">Setting</span>
            </a>
        </li>

        <li>
            <a href="#" class="logout">
                <i class="bi bi-box-arrow-left"></i>
                <span class="text">Log Out</span>
            </a>
        </li>
    </ul>
</section>
