

<section id="content">
    <nav>
        <i class='bx bx-menu'></i>
        <a href="#" class="nav-link">
            <h4>Catagories</h4>
        </a>

        <form action="#" class="mx-auto">
            <div class="form-input">
                <input type="search" class="px-3" placeholder="Search">
                <button type="submit" class="search-btn"><i class="bi bi-search"></i></button>
            </div>
        </form>

        <input type="checkbox" id="switch-mode" hidden>
        <label for="switch-mode" class="switch-mode"></label>
        <a href="#" class="notification">
            <i class="bi bi-bell-fill"></i>
            <span class="num">9+</span>
        </a>


        <a href="#" class="profile">

            
            <img src="~/backend/assets/images/khus (2).jpeg" alt="">
        </a>

    </nav>
    <!------navbar end------->



</section>
